{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home Page {% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav> 
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'car_list' %}">Car List</a></li>
        </ul>
    </nav>
    
    <main>
        <div class="welcome">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; {{ current_year }} Car Store. All rights reserved.</p>
    </footer>
</body>
</html>
